@import url("./reset.min.css");

:root {
  --black: #111;
  --white: #fff;
}

.app {
  width: 100%;
  min-width: 360px;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  align-items: center;
  gap: 16px;
}

.range-slider {
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;
  max-width: 240px;
  height: 60px;
}

.range-slider,
.range-slider-input {
  width: 100%;
  cursor: pointer;
}

.range-slider-value {
  display: inline-block;
  padding: 4px 8px;
  width: 52px;
  text-align: center;
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px,
    rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
  border-radius: 4px;
  position: absolute;
  transform: translate(calc(-40% - 0px), -125%);
  left: 0;
}

.app-title {
  font-size: 32px;
  margin-bottom: 32px;
}